{% if collection.image %}
  <div class="collection-hero">
    <noscript>
      <div class="collection-hero__image-no-js" style="background-image:url({{ collection.image | img_url: '2048x2048' }});"></div>
    </noscript>
    <div class="collection-hero__image-wrapper">
      {% assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <img class="collection-hero__image lazyload"
        src="{{ collection.image | img_url: '300x' }}"
        data-src="{{ img_url }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-aspectratio="{{ collection.image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ collection.image.alt | escape }}">
    </div>
  </div>
{% endif %}

<div id="CollectionSection" class="wrapper" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {% include 'collection-template' %}
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Imagens da coleção",
      "es": "Imagen de colección",
      "de": "Kategoriebilderseiten",
      "it": "Immagini collezioni",
      "en": "Collection image pages",
      "ja": "コレクションの画像ページ",
      "fr": "Images de la collection"
    },
    "settings": [
      {
        "type": "select",
        "id": "collection_products_grid",
        "label": {
          "pt-BR": "Estilo da grade",
          "es": "Estilo de cuadrícula",
          "de": "Rasterstil",
          "it": "Stile griglia",
          "en": "Grid style",
          "ja": "グリッドスタイル",
          "fr": "Style de grille"
        },
        "options": [
          {
            "value": "collage",
            "label": {
              "pt-BR": "Colagem",
              "es": "Collage",
              "de": "Collage",
              "it": "Collage",
              "en": "Collage",
              "ja": "コラージュ",
              "fr": "Collage"
            }
          },
          {
            "value": "grid",
            "label": {
              "pt-BR": "Grade",
              "es": "Cuadrícula",
              "de": "Raster",
              "it": "Griglia",
              "en": "Grid",
              "ja": "グリッド",
              "fr": "Grille"
            }
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "collection_tags_enable",
        "label": {
          "pt-BR": "Exibir tags de coleção",
          "es": "Mostrar etiquetas de colección",
          "de": "Kategorie-Tags anzeigen",
          "it": "Mostra tag della collezione",
          "en": "Show collection tags",
          "ja": "コレクションのタグを表示する",
          "fr": "Afficher les balises de la collection"
        }
      },
      {
        "type": "checkbox",
        "id": "product_vendor_enable",
        "label": {
          "pt-BR": "Exiba o fornecedor do produto",
          "es": "Mostrar proveedor del producto",
          "de": "Produktverkäufer anzeigen",
          "it": "Indica fornitore prodotto",
          "en": "Show product vendor",
          "ja": "商品の販売元を表示する",
          "fr": "Afficher le distributeur du produit"
        }
      }
    ]
  }
{% endschema %}
