<div class="password-page__main__inner" data-section-id="{{ section.id }}" data-section-type="password-content">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <h2 class="password-page__hero">{{ section.settings.title | escape }}</h2>
  {% endunless %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr password-page__hr">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="rte">{{ section.settings.newsletter_form_subheading }}</div>
          {% endunless %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text | escape }}">
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="password-page__signup-form__heading h5">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}

</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Conteúdo",
      "es": "Contenido",
      "de": "Inhalt",
      "it": "Contenuto",
      "en": "Content",
      "ja": "コンテンツ",
      "fr": "Contenu"
    },
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "pt-BR": "Título",
          "es": "Título",
          "de": "Überschrift",
          "it": "Heading",
          "en": "Heading",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Abertura em breve",
          "es": "Apertura Próximamente",
          "de": "Eröffnet demnächst",
          "it": "Prossima apertura",
          "en": "Opening Soon",
          "ja": "間もなくオープンします",
          "fr": "Ouverture prochaine"
        }
      },
      {
        "type": "header",
        "content": {
          "pt-BR": "Newsletter",
          "es": "Boletín",
          "de": "Newsletter",
          "it": "Newsletter",
          "en": "Newsletter",
          "ja": "ニュースレター",
          "fr": "Newsletter"
        }
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": {
          "pt-BR": "Exibir assinatura da newsletter",
          "es": "Suscríbete al boletín",
          "de": "Newsletter-Anmeldung anzeigen",
          "it": "Mostra iscrizione alla Newsletter",
          "en": "Show newsletter signup",
          "ja": "ニュースレターのサインアップを表示する",
          "fr": "Afficher l'inscription à la newsletter"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": {
          "pt-BR": "Título do formulário da newsletter",
          "es": "Título del formulario de boletín",
          "de": "Überschrift für Newsletter-Formular",
          "it": "Titolo del modulo della Newsletter",
          "en": "Newsletter form heading",
          "ja": "ニュースレターフォームの見出し",
          "fr": "Titre du formulaire de la newsletter"
        },
        "default": {
          "pt-BR": "Seja o primeiro a saber quando lançarmos.",
          "es": "Entérate de nuestros lanzamientos antes que los demás.",
          "de": "Erfahren Sie zuerst, wann unser Shop gelauncht wird.",
          "it": "Sii il primo a sapere quando effettueremo il lancio.",
          "en": "Be the first to know when we launch.",
          "ja": "私達が発売をする時に誰よりも早く知ってください。",
          "fr": "Apprenez notre lancement avant tout le monde."
        },
        "info": {
          "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto).",
          "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
          "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
          "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
          "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients)."
        }
      },
      {
        "type": "richtext",
        "id": "newsletter_form_subheading",
        "label": {
          "pt-BR": "Subtítulo do formulário da newsletter",
          "es": "Subtítulo del formulario de boletín",
          "de": "Untertitel für Newsletter-Formular",
          "it": "Sottotitolo del modulo della Newsletter",
          "en": "Newsletter form subheading",
          "ja": "ニュースレターフォームの小見出し",
          "fr": "Sous-titre du formulaire de la newsletter"
        },
        "default": {
          "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá assinando</p>",
          "es": "<p>Una frase corta que describe lo que alguien recibirá al suscribirse</p>",
          "de": "<p>Ein kurzer Satz, der beschreibt, was jemand abonniert</p>",
          "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
          "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
          "ja": "<p>購読している人が何を受け取ることができるかについて説明する短い文章</p>",
          "fr": "<p>Une courte phrase décrivant ce que quelqu'un recevra en s'abonnant</p>"
        }
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": {
          "pt-BR": "Texto do marcador de posição da newsletter",
          "es": "Texto de marcador de posición del boletín",
          "de": "Platzhaltertext für Newsletter",
          "it": "Testo del segnaposto della Newsletter",
          "en": "Newsletter placeholder text",
          "ja": "ニュースレターのプレースホルダテキスト",
          "fr": "Texte du paramètre fictif de la newsletter"
        },
        "default": {
          "pt-BR": "E-mail",
          "es": "Dirección de correo electrónico",
          "de": "E-Mail-Adresse",
          "it": "Indirizzo email",
          "en": "Email address",
          "ja": "メールアドレス",
          "fr": "Adresse e-mail"
        }
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": {
          "pt-BR": "Texto do botão da newsletter",
          "es": "Texto del botón del boletín",
          "de": "Text für Newsletter-Schaltfläche",
          "it": "Testo del pulsante Newsletter",
          "en": "Newsletter button text",
          "ja": "ニュースレターボタンのテキスト",
          "fr": "Texte du bouton de la newsletter"
        },
        "default": {
          "pt-BR": "Enviar",
          "es": "Enviar",
          "de": "Eingabe",
          "it": "Invia",
          "en": "Submit",
          "ja": "送信する",
          "fr": "Envoyer"
        }
      },
      {
        "type": "header",
        "content": {
          "pt-BR": "Compartilhamento social",
          "es": "Compartir en redes sociales",
          "de": "Social Sharing",
          "it": "Condivisione sui social",
          "en": "Social sharing",
          "ja": "ソーシャル共有",
          "fr": "Partage social"
        }
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "pt-BR": "Exibir botões de compartilhamento em redes sociais",
          "es": "Mostrar botones para compartir en redes sociales",
          "de": "Social-Sharing-Schaltflächen anzeigen",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "en": "Social sharing buttons heading",
          "ja": "ソーシャル共有ボタンを表示する",
          "fr": "Afficher les boutons de partage social"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": {
          "pt-BR": "Título dos botões de compartilhamento social",
          "es": "Título de botones para compartir en redes sociales",
          "de": "Überschrift für Social-Sharing-Schaltflächen",
          "it": "Titolo dei pulsanti per la condivisione sui social",
          "en": "Social sharing buttons heading",
          "ja": "ソーシャル共有ボタンの見出し",
          "fr": "Titre des boutons de partage social"
        },
        "default": {
          "pt-BR": "Divulgue a novidade",
          "es": "Riega la voz",
          "de": "Weitersagen",
          "it": "Spargi la voce",
          "en": "Spread the word",
          "ja": "言葉を広める",
          "fr": "Faites passer le mot"
        }
      }
    ]
  }
{% endschema %}
